@model FanGuide.ViewModels.TeamFormViewModel
@{
    ViewBag.Title = "TeamForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a new team</h2>

@using (Html.BeginForm("Save", "Teams"))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.SportId)
        @Html.DropDownListFor(x => x.SportId, new SelectList(Model.Sports, "Id", "Name"), "Select Sport", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SportId)
    </div>
    @Html.HiddenFor(x => x.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
