@model FanGuide.Models.Sport
@{
    ViewBag.Title = "Add a new sport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a new sport</h2>

@using (Html.BeginForm("Create", "Sports"))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.isTeamSport)
        @Html.CheckBoxFor(x => x.isTeamSport, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.isTeamSport)
    </div>
    @Html.HiddenFor(x => x.Id)
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Back", "Index", "Sport", new { @class = "btn btn-primary" })

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

