@using FanGuide.Folder
@model FanGuide.Models.Athlete
@{
    ViewBag.Title = "Athlete Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td> @Model.Name</td>
        </tr>
        <tr>
            <td>Sport</td>
            <td> @Model.Sport.Name</td>
        </tr>
    <tr>
        @if(@Model.Sport.isTeamSport){
            <td>Team/Role | @Html.ActionLink("Change", "ChangeTeam", "Athletes", new {id = Model.Id}, new {@class = "btn btn-primary"})</td>
            <td>
                @if (Model.Team != null)
                {
                    <p>@Model.Team.Name | @Model.TeamRole.Name</p>
                }
            </td>
        }
    </tr>
        <tr>
            <td>Height</td>
            <td> @Model.Height</td>
        </tr>
        <tr>
            <td>Weight</td>
            <td> @Model.Weight</td>
        </tr>
        <tr>
            <td>Age</td>
            <td> @Model.Age</td>
        </tr>
        <tr>
            <td>Citizenship</td>
            <td> @Model.Citizenship</td>
        </tr>
        <tr>
            <td>Origin</td>
            <td> @Model.Origin</td>
        </tr>
        <tr>
            <td>Achievements | @Html.ActionLink("Award", "AddAchievement", "Athletes", new { id = Model.Id }, new { @class = "btn btn-primary" })</td>
            <td><ul>
                @if (Model.Achievements != null)
                {
                    <li>Gold Medals x @Model.Achievements.Select(x => x.Type).Count(x => x == AchievementType.GoldMedal)</li>
                    <li>Silver Medals x @Model.Achievements.Select(x => x.Type).Count(x => x == AchievementType.SilverMedal)</li>
                    <li>Bronze Medals x @Model.Achievements.Select(x => x.Type).Count(x => x == AchievementType.BronzeMedal)</li>
                }
            </ul></td>
        </tr>
    </tbody>
</table>


