@model IEnumerable<FanGuide.Models.Athlete>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Athletes @Html.ActionLink("Create", "Create", "Athletes", new { @class = "btn btn-primary" })</h2>
@using (Html.BeginForm("Index","Athletes", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("search")
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Athlete @Html.ActionLink("Sort", "Index", new { sortOrder = ViewBag.NameSortParm })</th>
            <th>Sport</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var athlete in Model)
        {
            <tr>
                <td>@Html.ActionLink(athlete.Name, "Details", "Athletes", new { id = athlete.Id }, null)</td>
                <td>@athlete.Sport.Name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Athletes", new { id = athlete.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", "Athletes", new { id = athlete.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>